@import '../variables.scss';

.categories {
  ul {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: 1fr;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 23px;
    padding: 32px 60px;

    li {
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include noselect();

      &:hover img {
        top: -7px;
      }

      &.active h2 {
        color: #EF4137;
      }

      img {
        width: 40px;
        position: relative;
        top: 0;
      }

      h2 {
        margin-top: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #fff;
      }
    }
  }
}
