@import "../mixins";
@import "../variables";

.categories {
  width: $container-width;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 600px;

  @media screen and (max-width: 520px) {
    width: 100%;
    max-width: none;
  }

  &__img-mobile {
    width: 52px;
  }

  &__title-mobile {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.015em;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 21px;
    padding: 5px 10px;
  }

  &__item-mobile {
    @include flex-center-center;
    flex-direction: column;
  }

  &__slide {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-radius: 17px;

    @media screen and (max-width: 520px) {
      width: 100%;
    }

    li {
      font-weight: bold;
      cursor: pointer;
      @include flex-center-between;
      flex-direction: column;
      @include noselect();


      &.active h2 {
        color: $red;
        border: 2px solid $red;
      }

      img {
        width: 55px;
        position: relative;
        top: 0;
        margin-bottom: 10px;
        height: 50px;
      }

      h2 {
        margin-top: 5px;
        padding: 5px 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.015em;
        color: $white;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 21px;
      }
    }
  }
}
