@import "../mixins";
@import "../variables";

.header {
  padding: 40px 0;
  width: $container-width;
  margin: 0 auto;
  z-index: 100;

  @media screen and (max-width: 950px) {
    padding: 20px;
    width: 100%;
    height: 65px;
  }

  @media screen and (max-width: 520px) {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
  }

  &__mobile_active {
    @media screen and (max-width: 520px) {
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      transition: background-color ease-in-out 0.2s;
      animation: activeHeader ease-in 0.3s forwards;
    }


    @keyframes activeHeader {
      0% {
        top: -100px;
        opacity: 0;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }
  }

  &__right-block {
    @include flex-center-center;

    @media screen and (max-width: 950px) {
      gap: 10px;
    }
  }

  &__search {
    width: 270px;
    position: relative;

    @media screen and (max-width: 520px) {
      width: 30px;
    }
  }

  &__button-mobile {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  &__price-mobile {
    @include flex-center;

    span {
      white-space: nowrap;
      @include flex-center;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $white;
    }
  }

  &__mobile-logo {
    width: 170px;

    @media screen and (max-width: 520px) {
      width: 150px;
    }
  }

  .__button-mobile {
    @include reset;
    border: none;
    background-color: rgba(0,0,0,0);
  }

  .__em-mobile {
    @include reset;
  }

  &__wrapper-mobile {
    @include flex-center;
  }


  .container {
    width: 100%;
    position: relative;
    @include flex-center-between;
  }

  &__logo {
    display: flex;

    &-img {
      width: 300px;
      height: auto;
      margin-right: 15px;
      cursor: pointer;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

