.popup {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .55s,visibility .55s linear;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  .popup__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(180deg, #3B0A6C 0%, #160724 76.04%);
    padding: 35px 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }

  &__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-color: #f3f3f3;
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.1s ease-in;
    border: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

