.pagination {
  margin-top: 50px;
  margin-left: 60px;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #EF4137;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #EF4137;

      &:hover {
        background-color: #EF4137;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #EF4137;
        color: #fff;
      }
    }
  }
}

