@import './variables.scss';
@import './libs/normalize.scss';
@import './components/all.scss';
@import './mixins';

body {
  background: linear-gradient(180deg, #240048 0%, #060117 42.71%);
  width: 100%;
  min-height: 101vh;
  height: 100%;
  cursor: default;
}

.wrapper {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1280px;
  min-width: 320px;
  position: relative;

  .background-space {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 520px) {
      width: 100%;
    }
  }
}

//.hidden {
//  overflow: hidden;
//}

.content {
  @media screen and (max-width: 520px) {
    padding: 40px 0 0;
  }
}

.content__cartEmpty {
  padding: 0;
}

.content__wrapper-title {
  @include flex-center-between;
  margin: 0 auto;
  width: $container-width;

  @media screen and (max-width: 520px) {
    width: 100%;
    padding: 0 10px;
  }
}

.content {
  padding-bottom: 40px;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    grid-template-rows: repeat(auto-fit, 360px);
    grid-auto-flow: row dense;
    row-gap: 100px;
    margin: 0 auto;
    width: $container-width;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      padding: 0 40px;
    }

    @media screen and (max-width: 875px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      padding: 0 20px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 0 10px;
      column-gap: 20px;
    }

    @media screen and (max-width: 520px) {
      grid-template-columns: 1fr;
      padding: 0 10px;
      row-gap: 50px;
      column-gap: 0;
      grid-auto-flow: row;
    }

  }

  &__top {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 220px;
    position: relative;

    @media screen and (max-width: 600px) {
      margin-top: 50px;
    }
  }
}

.container {
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    border-radius: 20px;
    margin: 0 auto;

    @media screen and (max-width: 950px) {
      margin-top: 40px;
    }

    .content__title {
      margin: 0;

    }
  }
}

.cart {
  padding: 0 10px;
  @media screen and (max-width: 950px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 520px) {
    padding: 0 20px;
  }

  &__image-item {
    object-fit: contain;
  }

  &__top {
    @include flex-center-between;
    width: 100%;
    margin-bottom: 40px;

    @media screen and (max-width: 950px) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 35px;
    margin-right: 10px;

    @media screen and (max-width: 520px) {
      width: 25px;
    }
  }

  .pizza-block__image {
    background-size: contain;
    object-fit: cover;
  }

  .content__title {
    @include flex-center;
    font-size: 32px;

    @media screen and (max-width: 950px) {
      font-size: 22px;
    }
  }

  &__clear {
    @include flex-center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: $gray;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: $gray, $amount: 50);
        }
      }

      span {
        color: darken($color: $gray, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $purple;
    padding: 10px 0;

    @media screen and (max-width: 950px) {
      justify-content: space-between;
      position: relative;
    }

    @media screen and (max-width: 755px) {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
              "img-cart text-cart clear-cart"
              "price-cart count-cart count-cart";
      row-gap: 20px;
      border-top: none;
      border-bottom: 1px solid $purple;
      padding: 20px 0;
    }

    &-img {
      @include flex-center;
      margin-right: 15px;
      width: 10%;
      grid-area: img-cart;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      @include flex-column;
      justify-content: center;
      width: 40%;
      grid-area: text-cart;

      @media screen and (max-width: 950px) {
        width: auto;
      }


      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;

        @media screen and (max-width: 520px) {
          font-size: 20px;
          line-height: 24px;
        }
      }

      p {
        font-size: 18px;
        color: #8d8d8d;

        @media screen and (max-width: 520px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    &-count {
      @include flex-center-between;
      width: 13%;
      grid-area: count-cart;

      @media screen and (max-width: 950px) {
        width: 100px;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &_disabled {
        opacity: 0.5;
        border-color: $white;
        cursor: inherit;

        &:active {
          transform: none;
        }

        &:hover {
          background-color: transparent;

          svg path {
            fill: $white;
          }
        }

        svg path {
          fill: #f3f3f3;
        }
      }

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;

        @media screen and (max-width: 520px) {
          font-size: 20px;
        }
      }
    }

    &-price {
      @include flex-center-center;
      width: 33%;
      grid-area: price-cart;

      @media screen and (max-width: 755px) {
        justify-content: flex-start;
        width: 100%;
      }

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;

        @media screen and (max-width: 520px) {
          font-size: 20px;
        }
      }
    }

    &-remove {
      @include flex-center;
      justify-content: flex-end;
      width: 4%;
      grid-area: clear-cart;
      opacity: 0.8;

      @media screen and (max-width: 755px) {
        justify-content: flex-end;
        width: 100%;
      }


      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }

        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-progress {
      @include flex-column;
      align-items: center;
      position: relative;

      @media screen and (max-width: 520px) {
        width: 160px;
        align-items: flex-start;
      }
    }

    &-progress-title {
      position: absolute;
      color: #000;
      opacity: 0.7;
      z-index: 1;
      font-size: 16px;
      top: 18px;

      @media screen and (max-width: 520px) {
        font-size: 14px;
        margin-left: 25px;
      }
    }

    &-details {
      @include flex-between;


      span {
        font-size: 22px;

        @media screen and (max-width: 520px) {
          font-size: 18px;
        }

        &:last-of-type {
          b {
            color: $red;
          }
        }
      }
    }

    &-buttons {
      @include flex-between;
      margin-top: 40px;

      @media screen and (max-width: 520px) {
        overflow: hidden;
      }

      .go-back-btn {
        @include flex-center-center;
        width: 210px;
        border-color: darken($color: $gray-line, $amount: 10);

        @media screen and (max-width: 520px) {
          width: 145px;
        }

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 600;

          @media screen and (max-width: 520px) {
            font-size: 12px;
          }
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;

          @media screen and (max-width: 520px) {
            margin-right: 5px;
            width: 8px;
          }

          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;

        @media screen and (max-width: 520px) {
          width: 160px;
        }

        span {
          font-size: 14px;
        }
      }

      .pay-btn-disabled {
        background-color: #7b7b7b;
        color: #f3f3f3;
        cursor: default;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

.noteFound {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .noteFound__image {
    max-width: 800px;

    @media screen and (max-width: 820px) {
      width: 100%;
    }
  }
}

.content__ufo-menu {
  position: absolute;
  top: -20px;
  left: 270px;
  animation: 2.5s ease-in-out infinite pulse-ufo;
  width: 230px;

  @media screen and (max-width: 520px) {
    left: 28%;
    width: 170px;
  }
}

@keyframes pulse-ufo {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0);
  }
}


.cartEmpty {
  margin: 0 auto;
  max-width: 900px;
  @include flex-column;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 950px) {
    margin-top: 100px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  &__img {
    position: relative;
    left: 10px;
    margin-top: 40px;
    height: 350px;

    @media screen and (max-width: 520px) {
      height: inherit;
      width: 100%;
      padding: 0 10px;
    }
  }
}

.cartEmpty_type_button {
  margin: 0;
}


.errorBlock {
  margin: 30px auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
  }

  &__paragraph {
    font-size: 18px;
  }
}